<!DOCTYPE html>
<h1>Cars</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
        <!--Car Details here-->
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for car in object_list %}
    <tr>
    <td>{{ car.car }}</td>
    <td><a href="{% url "dataapp:upload_view" car.id %}">view</a></td>
    <td><a href="{% url "dataapp:upload_edit" car.id %}">edit</a></td>
    <td><a href="{% url "dataapp:upload_delete" car.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "dataapp:upload_new" %}">New</a>